## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Python files
build
dist
*.pyc

# Idea files
.idea/*

# XCode
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib
xcuserdata
project.xcworkspace

# Java
*.class

# C/C++
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a
*.lib
*.dll
*.so.*
*.exe
*.out
*.app

# Latex
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
